{% extends "base_logined.html" %}
{% block title %}Home{% endblock %}
{% block content %}
<div class="container">
  <div class="jumbotron">
    <h1><i class="fa fa-camera-retro" aria-hidden="true"></i>
The Image Gallery</h1>
    <p>A bunch of beautiful images that I didn't take</p>
  </div>
  <form action="/upload"  enctype="multipart/form-data" method="post">
    <div id="input-group">
      <label id="upload-button" class="btn btn-primary">
        Upload<input type="file" name="uploadedfile" style="display: none">      
      </label>
      <br>
      <br>
      <input type="text" class="form-control" readonly="">
    </div>
    
    <br>
    <label class="btn btn-success">
      Submit<input type="submit" style="display: none">      
    </label>

    <label class="btn btn-warning">
      Reset<input type="reset" style="display: none">      
    </label>
  </form>
  <br>
  <form action="/empty" method="post">
    <label class="btn btn-danger">
      DELETE ALL IMAGES<input type="submit" style="display: none">      
    </label>
  </form>
  <br>
  <input id="user_id" type="text" value="{{user_id}}" name="user_id" hidden>
  {% for image in images %}
    <div class="col-lg-4 col-sm-6">
        <div class="thumbnail">
            <!-- <img style="cursor:-webkit-zoom-in"  -->
            <!-- src="static/img/upload/{{user_id}}/{{image}}"> -->
            <!-- ********************************************************** -->
            <!-- Trigger the Modal -->
            <img style="cursor:-webkit-zoom-in" id="myImg" src="static/img/upload/{{user_id}}/{{image}}" alt="{{image}}" width="300" height="200">

            <!-- The Modal -->
            <div id="myModal" class="modal">

              <!-- The Close Button -->
              <span class="close" onclick="document.getElementById('myModal').style.display='none'">&times;</span>

              <!-- Modal Content (The Image) -->
              <img class="modal-content" id="img_origin">
              <!-- Modal Caption (Image Text) -->
              <div class="caption"></div>

              <img class="modal-content" id="img_resize">

              <img class="modal-content" id="img_enhancement">

              <img class="modal-content" id="img_rotate">
              
            </div>
            <!-- ********************************************************** -->
        </div>
    </div>
  {% endfor %}
</div>
<script type="text/javascript" src="static/js/upload.js"></script>
{% endblock %}